@charset "utf-8";

button {
	padding: 20px 50px;
	color: black;
}

.tap-wrap {
	border: 2px solid #000;
	margin-top: 5px;

}

#tapMenu2, #tapMenu3 {
	display: none;
}

#tapMenu1 {
	display: block;
	color: red;
}

#tapMenu2{
	color: blue;
}

#tapMenu3 {

	color: green;
}
